html, header, body{	
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f9f9f9;}
header{
	z-index: 100;
	overflow: hidden;
	background-color: black;
	padding-top: 0%;
	padding-bottom: 0%;
	position: fixed;
	top: 0;
	width: 100%;

	
	
}

/*.first-face {
  
 grid-template-columns: 25vw 33vw 3vw;
  justify-content: center;
  align-items: center;
}

.second-face {
  justify-content: center;
  align-items: center;
}

.third-face {
	justify-content: center;
	align-items: center;
}
.fourth-face, .sixth-face {
	justify-content: center;
	align-items: center;
}
.fourth-face .column, .sixth-face  {
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}*/
  
.inst{

	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4vh;
}
  

/* OTHER STYLES */

/** {
  box-sizing: border-box;
}*/


body {
	margin-top: 5vw;
  display: flex;
  align-items: left;
  justify-content: left;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: left;
 
  

}

[class$="face"] {


position: relative;
display: flex;
align-items: center;
justify-content: center;

width: 65vw;
height: 33vw;
/*object-fit: contain;*/
border-radius: 1%;
border: 0.1px solid rgba(255, 255, 255, 0.6);
box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.04), -2px -2px 4px rgba(255, 255, 255, 0.12);
margin: 0 30%;
margin-bottom: 5%;
margin-top: 1vw;
}

.menu{
	       	        margin: 1.5% 15% 1% 20%;
      }


a { color: white; 
	padding-left: 1vw;
	float: right;			 
	font-size: 23px; 
	text-decoration: none;
	transition: 0.3s; }

a.class1{
	position: relative;
	cursor: pointer;	
	z-index: 3;
	font-style: normal;
	font-weight: bold;
	font-size: 3vw;
	text-align: center;
	letter-spacing: 0.105em;
	text-transform: uppercase;
	line-height: 4vw;
	color: #000000;
	transition: all .3s;
	padding: 0 0;

}

a.class1:hover{
/*text-decoration: line-through #f7e05f;*/
text-decoration: none;
letter-spacing: 0.405em;
transition: all .3s cubic-bezier(.497,.003,.094,1.003);



}

a.portfolio{		
	color: white;
	float: left;			
	font-size: 23px;
	padding-bottom: 0%;
	text-decoration: none;
	margin-left: 0% ;
  	transition: 0.3s;
  	padding: 0 0;
  	padding-bottom: 0.5vw;		
		

}

.gallery{

	
}

a:hover{text-decoration: overline;}





h3{
	color: black;
	font-weight: black;
	font-size: 25px;
	line-height: 32px;
	letter-spacing: 0.17em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
	margin: 40px 20%;
	margin-bottom: 20px;
	padding: 0px 0px;

}

h4{
	border: none;
	cursor: pointer;	
	z-index: 3;
	font-style: normal;
	font-weight: bold;
	font-size: 3vw;
	line-height: 33px;
	text-align: center;
	letter-spacing: 0.105em;
	text-transform: uppercase;
	line-height: 7vh;



}


h5{
	position: absolute;
    left: 5vw;
	z-index: 1;
	font-style: normal;
	font-weight: bold;
	font-size: 500px;
	color: #F9F9F9;
	background-color: #56565617;
	color: transparent;
	text-shadow: 7px 7px 9px rgba(255, 255, 255, 0.8);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	cursor: default;
	margin: 0 7%;

	}

p{
	font-size: 18px;
	margin-left: 20%;
	margin-right: 15%
}

.responsive {
  width: 64vw;
  height: auto;
  margin-left: 20vw;
  margin-top: 3em;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5), 0 1px 10px 0 rgba(0,0,0,0.15);
  object-fit: contain; 
  
}